.rightbar{
    flex: 4;
}
.rbWrapper{
    padding: 20px 20px 0 0 ;


}
.bdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;

}
.bdayMsg{
    font-weight: 300;
    font-size: 15px;
}
.rbHeading{
    font-size: 18px;
    font-weight: 500;
   margin-bottom: 10px;

}
.bdayContainer{
    display: flex;
    align-items: center;
}
.rbAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px;

}
.rbFriendList{
    padding: 0;
    margin: 0;
    list-style: none;

}
.rbFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rbProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rbProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover ;
}
.rbOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;   
    top:-2px;
    right:0;
    border: 2px solid white;

}
.rbUser{
    font-weight: 500;
}
.rbFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.rbInfo{
    margin-bottom: 30px;

}
.rbInfoItem{
    margin-bottom: 10px;
}
.rbInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rbInfoValue{
    font-weight: 300;
}
.rbFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rbFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
